name: Dependency Submission

on:
  workflow_dispatch:

permissions:
  contents: write
  id-token: write
  attestations: write
  artifact-metadata: write

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v4
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 17
    - name: Generate and submit dependency graph
      uses: gradle/actions/dependency-submission@v4
    - name: Generate Generic Attestations
      uses: actions/attest@v3.1.0
      with:
        subject-path: 'dist/my-app'
        predicate-type: 'https://example.com/predicate/v1'
        predicate: '{}'
    - name: Attest Build Provenance
      uses: actions/attest-build-provenance@v3.1.0
      with:
        subject-path: 'dist/my-app'
        predicate-type: 'https://example.com/predicate/v1'
        predicate: '{}'
    - name: Attest SBOM
      uses: actions/attest-sbom@v3.0.0
      with:
        subject-path: 'dist/my-app'
        sbom-path: 'dist/my-app/my-bin.sbom.spdx.json'
